<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="copyright.css">
    <title>Document</title>
    <style>
    table {
  width: 75%;
  border: 1px solid #1694d8;

  color: #1694d8;
    }
    th, td {
  padding: 15px;
}
th{
    border-bottom: 1px solid #1694d8;
    text-align: left;
}
    </style>

</head>
<body>
  <button style="margin-left: 10%;background-color: #1694d8;padding:10px;color: white;">COPYRIGHT</button>
        <table style="margin-top:5%;margin-left:15%;align="center">
            <tr >
              <th>S.No.</th>
              <th>Application No.</th>
             </tr>
        
            <tr>
                <td>1</th>
                <td>U20222345221</td>
              </tr>
              <tr>
                <td>2</th>
                <td>U20222345222</td>
              </tr>
              <tr>
                <td>3</th>
                <td>U20222345223</td>
              </tr>
              <tr>
                <td>4</th>
                <td>U20222345224</td>
              </tr>
              <tr>
                <td>5</th>
                <td>U20222345225</td>
              </tr>
              <tr>
                <td>6</th>
                <td>U20222345226</td>
              </tr>
              <tr>
                <td>7</th>
                <td>U20222345227</td>
              </tr><tr>
                <td>8</th>
                <td>U20222345228</td>
              </tr>
          </table>
</body>
</html>